.headline {
  background-image: url(images/desktop_main/Header.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 700px;
  padding: 289px 260px;
  border-bottom-left-radius: 70px;
}

.col {
  background: #e5e5e5;
  padding: 20px;
}

.justify-content-center {
  margin-top: 50px;
}

.work-title {
  margin-top: 50px;
}

.list-inline-item {
  border: none;
  font-size: 12px;
  border-radius: 4px;
}

.about {
  border-top-right-radius: 70px;
}

.contact-me {
  background-image: url(images/contact-form-background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  height: 700px;
  background-color: #6070ff;
  border-top-left-radius: 70px;
}

.custom-button {
  color: #396df2;
  background-color: red;
}
